.ToDoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.ToDoItem input {
  width: 20;
}

.ToDoItem .content {
  flex: 1;
}

.ToDoItem .date {
  font-size: 15px;
  color: gray;
}

.ToDoItem button {
  cursor: pointer;
  font-size: 15px;
  background-color: gray;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
